
@{
    ViewBag.Title = "Regolamento";
}

<h2 class="text-center">Sistema educatico delle case</h2><hr class="hr1" />
<h3>Che cos'è?</h3><br/>
<p>Il Sistema Educativo delle Case della scuola paritaria Conventino-La Sorgente  non è  un altro progetto che si aggiunge a tutti gli altri già esistenti, ma il tentativo di raccogliere in unità le diverse esperienze scolastiche ed educative della nostra scuola, rispondendo alla necessità di  incontrare i bisogni/desideri di ciascun bambino/ragazzo, di accompagnare la loro crescita culturale e umana, di guidarli a esprimere le loro potenzialità ma anche a contenere gli aspetti più critici della loro personalità.</p>
<p>Appartenere a una Casa significa perciò appartenere a una comunità più grande, significa fare esperienza di cittadinanza attiva e educazione integrale (amicizia, condivisione, rispetto e concordia). In questa prospettiva le Case sono un laboratorio di vita per tutta la nostra comunità scolastica (alunni, docenti, personale non docente, famiglie).</p>
<p>Da quest’anno perciò ciascuno ha una casa in più. Oltre alla casa della propria famiglia, avremo la casa della nostra scuola. Tutti: alunni senza distinzioni fra grandi e piccoli, insegnanti, personale non docente, famiglie.</p>
<p>Apparterremo tutti ad una famiglia più grande. Impareremo l’amicizia, la condivisione, il rispetto  e la concordia. I più grandi impareranno a prendersi cura dei più piccoli, i più piccoli impareranno dai grandi ciò che è bene e ciò che non lo è. Impareremo a lavorare insieme per raggiungere uno scopo.</p>
<p>Impareremo che la scuola è vita, e che la vita chiama ognuno di noi a grandi cose.</p>
<p>Le Case sono quattro e prendono il nome dal simbolo dello stemma</p>
<p></p>
<div class="text-center">
    <div class="row">
        <div class="col col-md-3">
            <img class="img-responsive" src="~/Content/Immagini/1.png" />

        </div>
        <div class="col col-md-3">
            <img class="img-responsive" src="~/Content/Immagini/2.png" />

        </div>
        <div class="col col-md-3">
            <img class="img-responsive" src="~/Content/Immagini/3.png" />

        </div>
        <div class="col col-md-3">
            <img class="img-responsive" src="~/Content/Immagini/4.png" />

        </div>
    </div>

</div>
<p></p>
<p>Ogni alunno all’inizio del percorso scolastico nella nostra scuola viene assegnato ad una casa e vi resterà per tutto il tempo della sua permanenza. Ogni casa acquisterà e perderà punti durante l’anno, in base al comportamento e all’impegno di ciascun studente, andando a costituire una classifica finale che determinerà al temine dell’anno scolastico la Casa vincitrice della “Coppa delle Case”.</p>
<hr class="hr2" />
<h3>Come funziona?</h3><br/>
<h4>Assegnazione</h4>
<p>
All’inizio di ogni anno ogni nuovo alunno verrà destinato dal LIBRO PARLANTE in una delle 4 case:<br/>
Fuocovivo - Foglialinfa - Acquaneve - Caldoraggio<br/>
Una volta assegnato alla casa l’alunno ne diventerà parte integrante e fondamentale e alla quale rimarranno fedeli sempre, senza possibilità di spostamenti.

</p>

<h4>Figure chiave</h4>
<p>
    Ogni casa sarà guidata da diverse figure con le seguenti caratteristiche:<br/>
    <ul >
        <li>IL CAPOCASA. Sarà uno e verrà scelto tra gli insegnanti. Non cambierà durante l’anno e Il suo ruolo sarà di guida per tutta la squadra</li>
        <li>I CAPITANI. Verranno scelti cinque studenti tra tutte le età. Cambieranno periodicamente durante l’anno, e il loro ruolo sarà favorire la collaborazione e la coesione tra i componenti della casa</li>
        <li>LE GUIDE. Tutti gli studenti di 5^ elementare e di 3^ media non impegnati nel ruolo di capitani saranno le guide per tutti i nuovi ingressi nella casa (1^ elementare e 1^ media)</li>
    </ul>
</p>
<h4>La Coppa</h4>
<p>
    Ogni casa acquisterà e perderà punti durante l’anno, in base al comportamento e all’impegno di ogni studente, andando a costituire una classifica finale che determinerà la casa vincitrice della COPPA DELLE CASE
</p>

<h4>Punti</h4>
<p>
    Le tipologie di punti sono tre:
</p>
<ul >
    <li>PUNTI QUOTIDIANI
        <ul>
            <li>“Se mi comporto bene guadagno punti per la mia casa”</li>
            <li>“I comportamenti scorretti influiscono negativamente”</li>
        </ul>
    </li>
    <li>PUNTI STRAORDINARI
        <ul>
            <li>Si possono acquisire durante i grandi momenti di gioco in cui le case si affronteranno in sfide mozzafiato di abilità e conoscenza.</li>
            <li>Eventi sportivi e didattici della scuola.</li>
        </ul>
    </li>
    <li>PUNTI EXTRA
    </li>
</ul>
<hr class="hr2" />
 <h3>
     “Ma ciò che faccio al di fuori dell’orario scolastico?”
 </h3>
<p>
     Alcune attività portano punti: concorsi, attestati, risultati sportivi e attività extra. Per essere considerate le attività extrascolastiche devono essere approvate dalla apposita commissione.

 </p>  






